# SPDX-FileCopyrightText: 2024 Weston Schmidt <weston_schmidt@alumni.purdue.edu>
# SPDX-License-Identifier: Apache-2.0
---
name: Auto Releaser

on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  release:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@c90370b2958652d71c06a3484129a4d423a6d8a8 # v1.11.0
        with:
          token: ${{ github.token }}
          branch: main
          patchList: fix, bugfix, perf, refactor, test, tests, chore
          noVersionBumpBehavior: silent
          noNewCommitBehavior:   silent

      - name: Create Release
        if: |
          steps.semver.outputs.next != ''
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          name:   ${{ steps.semver.outputs.next }}
          tag:    ${{ steps.semver.outputs.next }}
          commit: ${{ github.sha }}
          token:  ${{ github.token }}
